<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <!--  Guice boostraping -->
  <servlet>
    <servlet-name>GuiceBootstrap</servlet-name>
    <servlet-class>com.geocoord.server.servlet.GuiceBootstrap</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>KMLCellServlet</servlet-name>
    <servlet-class>com.geocoord.server.servlet.KMLCellServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>KMLCellServlet</servlet-name>
    <url-pattern>/kml/cell</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>KMLCoverageServlet</servlet-name>
    <servlet-class>com.geocoord.server.servlet.KMLCoverageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>KMLCoverageServlet</servlet-name>
    <url-pattern>/kml/coverage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CoverageServiceServlet</servlet-name>
    <servlet-class>com.geocoord.server.servlet.CoverageServiceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CoverageServiceServlet</servlet-name>
    <url-pattern>/geocoord/coverage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CentroidServiceServlet</servlet-name>
    <servlet-class>com.geocoord.server.servlet.CentroidServiceServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CentroidServiceServlet</servlet-name>
    <url-pattern>/geocoord/centroid</url-pattern>
  </servlet-mapping>
  
  <!--
    **
    ** Twitter related servlets
    ** 

  <servlet>
    <servlet-name>TwitterLoginServlet</servlet-name>
    <servlet-class>com.geocoord.twitter.TwitterLoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TwitterLoginServlet</servlet-name>
    <url-pattern>/twitter/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TwitterCallbackServlet</servlet-name>
    <servlet-class>com.geocoord.twitter.TwitterCallbackServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>TwitterCallbackServlet</servlet-name>
    <url-pattern>/twitter/callback</url-pattern>
  </servlet-mapping>
    -->  
  
  <!--
    ** API related servets 

    
  <servlet>
    <servlet-name>APILayerCreateServlet</servlet-name>
    <servlet-class>com.geocoord.server.api.LayerCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>APILayerCreateServlet</servlet-name>
    <url-pattern>/api/layer/create</url-pattern>
  </servlet-mapping>
    -->  
  
  
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>GeoCoord.html</welcome-file>
  </welcome-file-list>

</web-app>
